body{
    background-color: #000000;
}

#caveira {
    display: block;
	margin: 4% auto 0 auto;
    width: 13%;
}

@font-face {
    font-family: ancientModern;
    src: url(../fonte/ancient-modern-tales.ttf);
}

  @font-face {
    font-family: aesymatt;
    src: url(../fonte/aesymatt.ttf);
}

#derrota{
    font-family: ancientModern;
    color: #e70f0f;
    text-align: center;
    font-size: 400%;
}

#errou{
    font-family: aesymatt;
    color: #e70f0f;
    font-weight: 100;
    text-align: center;
    font-size: 200%;
}

#reiniciar {
    border: none;
    color: #e70f0f;
    background-color: #000000;
    cursor: pointer;
    font-family: aesymatt;
    width: 10%;
    height: 60px;
    font-size: 200%;
    display: block;
    margin: 0px auto 0px auto;
    text-decoration: underline #000000;
}

#reiniciar:hover {
    border: 5px solid #e70f0f;
}